<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>404</title>
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-token" content="He8Y" />
    <script src="//www.google.com/recaptcha/api.js?hl=ru" defer async></script>
  </head>

  <body>
    <section id="app" :class="theme">
      <preloader></preloader>
      <vuescroll>
        <div class="main_layout text-copy-main bg-background-main">
          <header-main
            :openwindiwentrance="openwindiwentrance"
            :openwindiwpersonalarea="openwindiwpersonalarea"
            @darkchanged="themedark"
            @sunchanged="updatetheme"
          >
          </header-main>
          <div class="error_page grow bg-background-main">
            <div class="container">
              <div class="error_page_box">
                <div class="error_page_text">
                  <p class="error_page_title gamesDaymariusv text-copy-descr">
                    Страница не найдена, но мы хотим вам
                    <span class="text-copy-green">предложить</span>
                  </p>
                  <p class="error_page_descr text-copy-main">
                    Зарегистрируйтесь в личном кабинеты чтобы в дальнейшем
                    получать
                    <span class="text-copy-green">скидки</span> на следующие
                    операции
                  </p>
                  <div class="error_page_img">
                    <figure>
                      <img
                        class="lazyload"
                        data-src="/source/image/404/404.png"
                        alt
                      />
                    </figure>
                  </div>
                  <div class="error_page_link">
                    <button
                      class="green_btn text-copy-btngreen error_page_btn"
                      @click="registration"
                    >
                      Зарегистрироваться
                    </button>
                    <a href="index.html" class="text-copy-main"
                      >Вернуться на главную</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer-main></footer-main>
        </div>
        <authorization></authorization>
        <password-recovery
          :recovery="recovery"
          @close_modal="recovery = false"
        ></password-recovery>
      </vuescroll>
    </section>
    <input type="hidden" id="login" value="0" />
    <input type="hidden" id="language" value="ru" />
  </body>
</html>
