<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About</title>
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-token" content="He8Y" />
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="app" :data-theme="colorSpectrum">
        <the-public-information>
          Дорогие друзья, мы проводим небольшой конкурс и разыгрываем 100$,
          нужно всего лишь совершить обмен и оставить отзыв
          <a href="/">подробнее тут</a>
        </the-public-information>
        <the-header></the-header>
        <main class="about">
          <the-title-big>
            <template #title>О нас</template>
          </the-title-big>
          <div class="container">
            <div class="information-wrapper">
              <p>
                Сайт 7MONEY.CO начал свою работу в октябре 2016 года и был
                создан для обмена Электронных валют и Криптовалют на реальные
                деньги.
              </p>
              <p>
                Более, чем за три года работы мы смогли завоевать большую
                аудиторию постоянных клиентов и обработали более 120000 обменных
                операций.
              </p>
              <p>
                За 3,5 года работы сервиса пользователями было написано около
                3000 отзывов на различных интернет ресурсах.
              </p>
              <p>
                В июле 2019 года на сайте появилась возможность совершать P2P
                платежи в гривне, платёж можно осуществить любой картой
                украинского банка (Популярные среди пользователей это Приватбанк
                и Монобанк).
              </p>
              <p>
                Наш сервис гарантирует быстрый, безопасный и анонимный обмен
                валют: BITCOIN(BTC), LITECOIN(LTC) ,DASH, ZCASH(ZEC), PERFECT
                MONEY, ADVCASH, PAYEER, EXMO code, ЯНДЕКС ДЕНЬГИ, Privat24,
                Visa/MC, Monobank. Присоединяйтесь))
              </p>
            </div>
          </div>
        </main>
        <the-footer></the-footer>
      </div>
    </div>
    <input type="hidden" id="login" value="0" />
    <input type="hidden" id="language" value="en" />
  </body>
</html>
