<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Профиль</title>
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-token" content="He8Y" />
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="app" :data-theme="colorSpectrum">
        <the-header></the-header>
        <main class="personal-area">
          <div class="container">
            <div id="profile-content" class="wrapper">
              <the-account-navigation>
                <template #links>
                  <a class="active" href="/">
                    <icon-personal-data></icon-personal-data>
                    Счета и персональные данные
                  </a>
                  <a href="/">
                    <icon-history></icon-history>
                    История операций
                  </a>
                  <a href="/">
                    <icon-partner></icon-partner>
                    Партнёрская программа
                  </a>
                  <a href="/">
                    <icon-withdraw-reward></icon-withdraw-reward>
                    Вывеси вознаграждение
                  </a>
                  <a href="/">
                    <icon-buy></icon-buy>
                    История выплат
                  </a>
                  <a href="/">
                    <icon-padlock></icon-padlock>
                    Изменение пароля
                  </a>
                  <a href="/">
                    <icon-random></icon-random>
                    Заявки рефералов
                  </a>
                  <a href="/">
                    <icon-create></icon-create>
                    Создать заявку
                  </a>
                  <a href="/">
                    <icon-verification></icon-verification>
                    Верификация заявок
                  </a>
                  <a href="/">
                    <icon-search></icon-search>
                    Поиск заявок
                  </a>
                </template>
                <template #buttons>
                  <a href="/">Выход</a>
                  <a href="/">Выход со всех устройств</a>
                </template>
              </the-account-navigation>
              <div class="wrapper-account accounts">
                <the-title tag="h2" class="subtitle">
                  Персональные данные
                </the-title>
                <form action="/profile/update" method="POST">
                  <input type="hidden" :value="csrfToken" :name="csrfParam" />
                  <div class="stylish-wrapper">
                    <div class="field-list">
                      <div class="field">
                        <label for="first_name">Имя</label>
                        <div class="form-group">
                          <input
                            type="text"
                            id="first_name"
                            name="first_name"
                            placeholder="Василий"
                            required
                          />
                          <div class="help-block"></div>
                        </div>
                      </div>
                      <div class="field">
                        <label for="last_name">Фамилия</label>
                        <div class="form-group">
                          <input
                            type="text"
                            id="last_name"
                            name="last_name"
                            placeholder="Петров"
                            required
                          />
                          <div class="help-block"></div>
                        </div>
                      </div>
                      <div class="field">
                        <label for="second_name">Отчество</label>
                        <div class="form-group">
                          <input
                            type="text"
                            id="second_name"
                            name="second_name"
                            placeholder="Алексеевич"
                          />
                          <div class="help-block"></div>
                        </div>
                      </div>
                      <div class="field">
                        <label for="tel">Номер телефона</label>
                        <div class="form-group">
                          <input
                            type="tel"
                            id="tel"
                            name="phone"
                            placeholder="+38 (068) 72 50 152"
                          />
                          <div class="help-block"></div>
                        </div>
                      </div>
                      <div class="field">
                        <label for="mail">Электронная почта</label>
                        <div class="form-group">
                          <input
                            type="email"
                            id="mail"
                            name="email"
                            placeholder="tolik.wwwww@ukr.net"
                          />
                          <div class="help-block"></div>
                        </div>
                      </div>
                    </div>
                    <div class="line"></div>
                    <the-discount></the-discount>
                    <input
                      name="fee_type"
                      id="switched"
                      value="1"
                      type="hidden"
                    />
                    <div class="line"></div>
                    <the-exchange-information>
                      При выборе первой кнопки, Ваша скидка по программе
                      лояльности будет учитываться в сумме''Я ОТДАЮ''. При
                      выборе второй кнопки, Ваша скидка по программе лояльности
                      будет учитываться в сумме''Я ПОЛУЧАЮ''. При обмене
                      bitcoin, скидка всегда будет насчитываться на вторую
                      валюту, которая указана в заявке.
                    </the-exchange-information>
                  </div>
                  <the-title tag="h2" class="subtitle">Счета</the-title>
                  <div class="stylish-wrapper">
                    <div class="field-list profile-accounts">
                      <div class="field">
                        <label for="currency-PMUSD">PerfectMoney USD</label>
                        <div class="form-group">
                          <input
                            type="text"
                            id="currency-PMUSD"
                            name="UserCurrency[1]"
                            placeholder="U012345678"
                            value="U012345678rgggggggggggggggggggge"
                          />
                          <span class="PMUSD"></span>
                          <div class="help-block"></div>
                          <span class="tippy"></span>
                        </div>
                        <span class="DOGE icon"></span>
                      </div>
                      <div class="field">
                        <label for="currency-PMUSD">PerfectMoney USD</label>
                        <div class="form-group">
                          <input
                            type="text"
                            id="currency-PMUS"
                            name="UserCurrency[1]"
                            placeholder="U012345678"
                            value="U012345"
                          />
                          <span class="PMUSD"></span>
                          <div class="help-block"></div>
                          <transition name="fade">
                            <span class="tippy"></span>
                          </transition>
                        </div>
                        <span class="DOGE icon"></span>
                      </div>
                    </div>
                  </div>
                  <div class="accounts__button">
                    <button type="submit" class="button">
                      Сохранить данные
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </main>
        <the-footer></the-footer>
      </div>
    </div>
    <input type="hidden" id="login" value="0" />
    <input type="hidden" id="language" value="en" />
  </body>
</html>
