<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Status Check</title>
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-token" content="He8Y" />
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="app" :data-theme="colorSpectrum">
        <the-header class="background"></the-header>
        <main class="application-status">
          <the-title-big>
            <template #title> Статус операции AP0059aee775</template>
          </the-title-big>
          <div class="container">
            <div class="wrapper">
              <div class="application-status__info">
                <div class="stylish-wrapper">
                  <div class="block">
                    <div class="operation-info">
                      <h2 class="text--green">Завершена</h2>
                      <span
                        >Номер операции:
                        <strong>AP0059aee775</strong>
                        <button
                          data-copy="AP075"
                          class="copy"
                          @click="copyText($event)"
                        >
                          <span class="copied d-none"> {{ $t("copied") }}</span>
                          <icon-copy></icon-copy>
                        </button>
                      </span>
                      <span
                        >Дата заявки:
                        <strong>18 янв. 2021 г., 17:27:58</strong>
                      </span>
                      <span
                        >Статус операции:
                        <strong>Ваша Заявка оплачена</strong>
                      </span>
                    </div>
                    <div class="operations">
                      <div class="items">
                        <span class="name">
                          <span class="icon BTC"></span>
                          Отдаю:
                        </span>
                        <strong> 0.0284927 BTC </strong>
                      </div>
                      <div class="items">
                        <span class="name">
                          <span class="icon BTC"></span>
                          Получаю:
                        </span>
                        <strong> 0.0284927 BTC </strong>
                      </div>
                    </div>
                  </div>
                  <div class="line"></div>
                  <the-warning>
                    По заявке был произведен перерасчет, время отведенное на
                    подтверждение от сети 1 час
                  </the-warning>
                  <div class="operation-info">
                    <span
                      >Выплата поступила в размере:
                      <strong>0.0284927 BTC</strong></span
                    >
                    <span
                      >Подтверждения в сети Bitcoin:
                      <strong>1 из 1 требуемого</strong></span
                    >
                    <span
                      >Ваш TXID:
                      <a href="/" class="line-break">
                        <strong>
                          f2baab4e213c04a5c52abf6f4a9caf5308f2f317858f53f52a79ee40508e3b74
                        </strong>
                      </a>
                      <button
                        data-copy="A3434434075"
                        class="copy"
                        @click="copyText($event)"
                      >
                        <span class="copied d-none"> {{ $t("copied") }} </span>
                        <icon-copy></icon-copy>
                      </button>
                    </span>
                    <span
                      >Обычно выплата производится в течении
                      <strong>5-30 минут</strong> после 1-го подтверждения</span
                    >
                  </div>
                </div>
              </div>
              <div class="leave-feedback">
                <div class="stylish-wrapper">
                  <the-close></the-close>
                  <icon-thanks></icon-thanks>
                  <p>
                    <strong class="text--black-white">Благодарим</strong> за
                    использование нашего сервиса! Уважаемый клиент, если Вам
                    понравилось обслуживание нашего сервиса, Вы можете
                    <strong class="text--black-white">
                      оставить отзыв здесь:
                    </strong>
                  </p>
                  <the-button
                    tag="a"
                    target="_blank"
                    href="//www.bestchange.ru/7money-exchanger.html"
                  >
                    <template #name>{{ $t("Leave feedback") }}</template>
                  </the-button>
                  <p>
                    Либо на нашем
                    <a href="/reviews">
                      <strong class="text--green">сайте</strong>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </main>
        <the-footer></the-footer>
      </div>
    </div>
    <input type="hidden" id="login" value="0" />
    <input type="hidden" id="language" value="ru" />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        function getCookie(name) {
          let matches = document.cookie.match(
            new RegExp(
              "(?:^|; )" +
                name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, "\\$1") +
                "=([^;]*)"
            )
          );
          return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        function setCookie(name, value, options) {
          options = options || {};

          let expires = options.expires;

          if (typeof expires == "number" && expires) {
            let d = new Date();
            d.setTime(d.getTime() + expires * 1000);
            expires = options.expires = d;
          }
          if (expires && expires.toUTCString) {
            options.expires = expires.toUTCString();
          }

          value = encodeURIComponent(value);

          let updatedCookie = name + "=" + value;

          for (let propName in options) {
            updatedCookie += "; " + propName;
            let propValue = options[propName];
            if (propValue !== true) {
              updatedCookie += "=" + propValue;
            }
          }

          document.cookie = updatedCookie;
        }

        function deleteCookie(name) {
          setCookie(name, "", {
            expires: -1,
            path: "/",
          });
        }

        let close = document.querySelector(".leave-feedback .button-close");
        if (close) {
          close.addEventListener("click", function () {
            document.querySelector(".leave-feedback").classList.add("d-none");
            setCookie("leave-feedback", 1);
            console.log("1");
          });
        }
        if (window.innerWidth <= 992) {
          if (getCookie("leave-feedback") === undefined) {
            document.querySelector(".leave-feedback").classList.add("d-flex");
          } else {
            document.querySelector(".leave-feedback").classList.add("d-none");
          }
        }
      });
    </script>
  </body>
</html>
