<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Изменение пароля</title>
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-token" content="He8Y" />
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="app" :data-theme="colorSpectrum">
        <the-header></the-header>
        <main class="personal-area">
          <div class="container">
            <div class="wrapper">
              <the-account-navigation>
                <template #links>
                  <a class="active" href="/">
                    <icon-personal-data></icon-personal-data>
                    Счета и персональные данные
                  </a>
                  <a href="/">
                    <icon-history></icon-history>
                    История операций
                  </a>
                  <a href="/">
                    <icon-partner></icon-partner>
                    Партнёрская программа
                  </a>
                  <a href="/">
                    <icon-withdraw-reward></icon-withdraw-reward>
                    Вывеси вознаграждение
                  </a>
                  <a href="/">
                    <icon-buy></icon-buy>
                    История выплат
                  </a>
                  <a href="/">
                    <icon-padlock></icon-padlock>
                    Изменение пароля
                  </a>
                  <a href="/">
                    <icon-random></icon-random>
                    Заявки рефералов
                  </a>
                  <a href="/">
                    <icon-create></icon-create>
                    Создать заявку
                  </a>
                  <a href="/">
                    <icon-verification></icon-verification>
                    Верификация заявок
                  </a>
                  <a href="/">
                    <icon-search></icon-search>
                    Поиск заявок
                  </a>
                </template>
                <template #buttons>
                  <a href="/">Выход</a>
                  <a href="/">Выход со всех устройств</a>
                </template>
              </the-account-navigation>
              <div class="wrapper-account change-password">
                <the-title tag="h2" class="subtitle"
                  >Изменение пароля</the-title
                >
                <form action="/profile/change-password" method="post">
                  <input type="hidden" :value="csrfToken" :name="csrfParam" />
                  <div class="stylish-wrapper">
                    <div class="field-list">
                      <div class="field password" data-idx="0">
                        <label for="changepasswordform-password"
                          >Введите старый пароль</label
                        >
                        <div class="form-group">
                          <input
                            type="password"
                            id="changepasswordform-password"
                            name="ChangePasswordForm[password]"
                            placeholder="Введите новый пароль"
                            required
                          />
                          <span @click="viewPassword(0)" class="show-password">
                            <svg
                              id="eye"
                              xmlns="http://www.w3.org/2000/svg"
                              x="0px"
                              y="0px"
                              viewBox="0 0 612 612"
                              xml:space="preserve"
                            >
                              <path
                                d="M609.608,315.426c3.19-5.874,3.19-12.979,0-18.853c-58.464-107.643-172.5-180.72-303.607-180.72
			                          S60.857,188.931,2.393,296.573c-3.19,5.874-3.19,12.979,0,18.853C60.858,423.069,174.892,496.147,306,496.147
			                          S551.143,423.069,609.608,315.426z M306,451.855c-80.554,0-145.855-65.302-145.855-145.855S225.446,160.144,306,160.144
			                          S451.856,225.446,451.856,306S386.554,451.855,306,451.855z"
                                fill="currentColor"
                              ></path>
                              <path
                                d="M306,231.67c-6.136,0-12.095,0.749-17.798,2.15c5.841,6.76,9.383,15.563,9.383,25.198c0,21.3-17.267,38.568-38.568,38.568
			                          c-9.635,0-18.438-3.541-25.198-9.383c-1.401,5.703-2.15,11.662-2.15,17.798c0,41.052,33.279,74.33,74.33,74.33
			                          s74.33-33.279,74.33-74.33S347.052,231.67,306,231.67z"
                                fill="currentColor"
                              ></path>
                            </svg>
                          </span>
                          <div class="help-block"></div>
                        </div>
                      </div>
                      <div class="field password" data-idx="1">
                        <label for="changepasswordform-new_password"
                          >Подтвердите новый пароль</label
                        >
                        <div class="form-group">
                          <input
                            type="password"
                            id="changepasswordform-new_password"
                            name="ChangePasswordForm[new_password]"
                            placeholder="Введите новый пароль"
                            required
                          />
                          <span @click="viewPassword(1)" class="show-password">
                            <svg
                              id="eye"
                              xmlns="http://www.w3.org/2000/svg"
                              x="0px"
                              y="0px"
                              viewBox="0 0 612 612"
                              xml:space="preserve"
                            >
                              <path
                                d="M609.608,315.426c3.19-5.874,3.19-12.979,0-18.853c-58.464-107.643-172.5-180.72-303.607-180.72
			                          S60.857,188.931,2.393,296.573c-3.19,5.874-3.19,12.979,0,18.853C60.858,423.069,174.892,496.147,306,496.147
			                          S551.143,423.069,609.608,315.426z M306,451.855c-80.554,0-145.855-65.302-145.855-145.855S225.446,160.144,306,160.144
			                          S451.856,225.446,451.856,306S386.554,451.855,306,451.855z"
                                fill="currentColor"
                              ></path>
                              <path
                                d="M306,231.67c-6.136,0-12.095,0.749-17.798,2.15c5.841,6.76,9.383,15.563,9.383,25.198c0,21.3-17.267,38.568-38.568,38.568
			                          c-9.635,0-18.438-3.541-25.198-9.383c-1.401,5.703-2.15,11.662-2.15,17.798c0,41.052,33.279,74.33,74.33,74.33
			                          s74.33-33.279,74.33-74.33S347.052,231.67,306,231.67z"
                                fill="currentColor"
                              ></path>
                            </svg>
                          </span>
                          <div class="help-block">Error</div>
                        </div>
                      </div>
                      <div class="field password" data-idx="2">
                        <label for="changepasswordform-confirm_new_password"
                          >Подтвердите новый пароль</label
                        >
                        <div class="form-group">
                          <input
                            type="password"
                            id="changepasswordform-confirm_new_password"
                            name="ChangePasswordForm[confirm_new_password]"
                            placeholder="Подтвердите новый пароль"
                            required
                          />
                          <span @click="viewPassword(2)" class="show-password">
                            <svg
                              id="eye"
                              xmlns="http://www.w3.org/2000/svg"
                              x="0px"
                              y="0px"
                              viewBox="0 0 612 612"
                              xml:space="preserve"
                            >
                              <path
                                d="M609.608,315.426c3.19-5.874,3.19-12.979,0-18.853c-58.464-107.643-172.5-180.72-303.607-180.72
			                          S60.857,188.931,2.393,296.573c-3.19,5.874-3.19,12.979,0,18.853C60.858,423.069,174.892,496.147,306,496.147
			                          S551.143,423.069,609.608,315.426z M306,451.855c-80.554,0-145.855-65.302-145.855-145.855S225.446,160.144,306,160.144
			                          S451.856,225.446,451.856,306S386.554,451.855,306,451.855z"
                                fill="currentColor"
                              ></path>
                              <path
                                d="M306,231.67c-6.136,0-12.095,0.749-17.798,2.15c5.841,6.76,9.383,15.563,9.383,25.198c0,21.3-17.267,38.568-38.568,38.568
			                          c-9.635,0-18.438-3.541-25.198-9.383c-1.401,5.703-2.15,11.662-2.15,17.798c0,41.052,33.279,74.33,74.33,74.33
			                          s74.33-33.279,74.33-74.33S347.052,231.67,306,231.67z"
                                fill="currentColor"
                              ></path>
                            </svg>
                          </span>
                          <div class="help-block"></div>
                        </div>
                      </div>
                      <button class="button" type="submit">Сохранить</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </main>
        <the-footer></the-footer>
      </div>
    </div>
    <input type="hidden" id="login" value="0" />
    <input type="hidden" id="language" value="en" />
  </body>
</html>
