<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Изменение пароля</title>
  <meta name="csrf-param" content="_csrf" />
  <meta name="csrf-token" content="He8Y" />
</head>

<body>
<div id="app" v-cloak>
  <div class="app" :data-theme="colorSpectrum">
    <the-header></the-header>
    <main class="personal-area">
      <div class="container">
        <div class="wrapper">
          <the-account-navigation>
            <template #links>
              <a class="active" href="/">
                <icon-personal-data></icon-personal-data>
                Счета и персональные данные
              </a>
              <a href="/">
                <icon-history></icon-history>
                История операций
              </a>
              <a href="/">
                <icon-partner></icon-partner>
                Партнёрская программа
              </a>
              <a href="/">
                <icon-withdraw-reward></icon-withdraw-reward>
                Вывеси вознаграждение
              </a>
              <a href="/">
                <icon-buy></icon-buy>
                История выплат
              </a>
              <a href="/">
                <icon-padlock></icon-padlock>
                Изменение пароля
              </a>
              <a href="/">
                <icon-random></icon-random>
                Заявки рефералов
              </a>
              <a href="/">
                <icon-create></icon-create>
                Создать заявку
              </a>
              <a href="/">
                <icon-verification></icon-verification>
                Верификация заявок
              </a>
              <a href="/">
                <icon-search></icon-search>
                Поиск заявок
              </a>
            </template>
            <template #buttons>
              <a href="/">Выход</a>
              <a href="/">Выход со всех устройств</a>
            </template>
          </the-account-navigation>
          <div class="wrapper-account change-password">
            <the-title tag="h2" class="subtitle"
            >Изменение пароля
            </the-title
            >
            <form action="/profile/change-password" method="post">
              <input type="hidden" :value="csrfToken" :name="csrfParam" />
              <div class="stylish-wrapper">
                <div class="field-list">
                  <div class="field">
                    <label for="changepasswordform-password">Введите старый пароль</label>
                    <div class="form-group">
                      <input
                        type="password"
                        id="changepasswordform-password"
                        name="ChangePasswordForm[password]"
                        placeholder="Введите новый пароль"
                        required
                      />
                      <div class="help-block"></div>
                    </div>
                  </div>
                  <div class="field">
                    <label for="changepasswordform-new_password">Подтвердите новый пароль</label>
                    <div class="form-group">
                      <input
                        type="password"
                        id="changepasswordform-new_password"
                        name="ChangePasswordForm[new_password]"
                        placeholder="Введите новый пароль"
                        required
                      />
                      <div class="help-block">
                      Error
                    </div>
                    </div>
                  </div>
                  <div class="field">
                    <label for="changepasswordform-confirm_new_password">Подтвердите новый пароль</label>
                    <div class="form-group">
                      <input
                        type="password"
                        id="changepasswordform-confirm_new_password"
                        name="ChangePasswordForm[confirm_new_password]"
                        placeholder="Подтвердите новый пароль"
                        required
                      />
                      <div class="help-block"></div>
                    </div>
                  </div>
                  <button class="button" type="submit">Сохранить</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <the-footer></the-footer>
  </div>
</div>
<input type="hidden" id="login" value="0" />
<input type="hidden" id="language" value="en" />
</body>
</html>
