<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Engineering Works</title>
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-token" content="He8Y" />
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="app" :data-theme="colorSpectrum">
        <main class="engineering-works">
          <div class="container">
            <div class="wrapper">
              <the-title tag="h1" class="heading">
                Упс у нас тех работы!
              </the-title>
              <p>
                В данный момент ведутся технические работы по обслуживанию
                сайта. Извините за предоставленные неудобства.
              </p>
              <p>
                Если Вам нужно, Вы всегда можете связаться с
                <a href="mailto:hello@7money.co">нами</a>, в противном случае
                дождитесь окончания технических работ.<strong>
                  e-mail: hello@7money.co
                </strong>
              </p>
              <the-title tag="h1" class="heading">
                We will be back soon!
              </the-title>
              <p>
                Currently technical work is underway and site maintenance. Sorry
                for any inconvenience.
              </p>
              <p>
                If You need to, You can always contact
                <a href="mailto:hello@7money.co">us</a>, otherwise wait for the
                end.<strong> e-mail: hello@7money.co</strong>
              </p>
            </div>
          </div>
          <icon-engineering-works></icon-engineering-works>
        </main>
      </div>
    </div>
    <input type="hidden" id="login" value="0" />
    <input type="hidden" id="language" value="en" />
  </body>
</html>
