<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>История выплат</title>
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-token" content="He8Y" />
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="app" :data-theme="colorSpectrum">
        <the-header></the-header>
        <main class="personal-area">
          <div class="container">
            <div class="wrapper">
              <the-account-navigation>
                <template #links>
                  <a class="active" href="/">
                    <icon-personal-data></icon-personal-data>
                    Счета и персональные данные
                  </a>
                  <a href="/">
                    <icon-history></icon-history>
                    История операций
                  </a>
                  <a href="/">
                    <icon-partner></icon-partner>
                    Партнёрская программа
                  </a>
                  <a href="/">
                    <icon-withdraw-reward></icon-withdraw-reward>
                    Вывеси вознаграждение
                  </a>
                  <a href="/">
                    <icon-buy></icon-buy>
                    История выплат
                  </a>
                  <a href="/">
                    <icon-padlock></icon-padlock>
                    Изменение пароля
                  </a>
                  <a href="/">
                    <icon-random></icon-random>
                    Заявки рефералов
                  </a>
                  <a href="/">
                    <icon-create></icon-create>
                    Создать заявку
                  </a>
                  <a href="/">
                    <icon-verification></icon-verification>
                    Верификация заявок
                  </a>
                  <a href="/">
                    <icon-search></icon-search>
                    Поиск заявок
                  </a>
                </template>
                <template #buttons>
                  <a href="/">Выход</a>
                  <a href="/">Выход со всех устройств</a>
                </template>
              </the-account-navigation>
              <div class="wrapper-account">
                <the-title tag="h2" class="subtitle">История выплат</the-title>
                <table class="table table--payment-history">
                  <thead>
                    <tr class="head">
                      <td>Заявка №</td>
                      <td>Дата</td>
                      <td>Сумма</td>
                      <td>Счёт</td>
                      <td>Статус</td>
                    </tr>
                  </thead>
                  <tbody class="body">
                    <tr>
                      <td class="first-cell">
                        <a href="/" class="text--blue">OPca0d5d96</a>
                      </td>
                      <td class="second-cell">31 мар. 2019 г.,17:59:37</td>
                      <td class="third-cell">
                        <span class="name">Сумма:</span>
                        100
                      </td>
                      <td class="fourth-cell">
                        <span class="name">Счёт:</span>
                        U12068258
                      </td>
                      <td class="fifth-cell text--green">Завершена</td>
                    </tr>
                  </tbody>
                </table>

                <div class="buttons">
                  <ul class="pagination">
                    <li class="prev">
                      <a href="#">
                        <svg
                          width="10"
                          height="18"
                          viewBox="0 0 10 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M9.63388 17.3844C9.14573 17.8725 8.35427 17.8725 7.86612 17.3844L0.366117 9.88437C-0.122038 9.39622 -0.122038 8.60476 0.366117 8.1166L7.86612 0.616606C8.35427 0.128448 9.14573 0.128448 9.63388 0.616606C10.122 1.10476 10.122 1.89622 9.63388 2.38437L3.01777 9.00049L9.63388 15.6166C10.122 16.1048 10.122 16.8962 9.63388 17.3844Z"
                            fill="#7F848C"
                          />
                        </svg>
                      </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="next">
                      <a href="#">
                        <svg
                          class="arrow--right"
                          width="10"
                          height="18"
                          viewBox="0 0 10 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M9.63388 17.3844C9.14573 17.8725 8.35427 17.8725 7.86612 17.3844L0.366117 9.88437C-0.122038 9.39622 -0.122038 8.60476 0.366117 8.1166L7.86612 0.616606C8.35427 0.128448 9.14573 0.128448 9.63388 0.616606C10.122 1.10476 10.122 1.89622 9.63388 2.38437L3.01777 9.00049L9.63388 15.6166C10.122 16.1048 10.122 16.8962 9.63388 17.3844Z"
                            fill="#7F848C"
                          />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </main>
        <the-footer></the-footer>
      </div>
    </div>
    <input type="hidden" id="login" value="0" />
    <input type="hidden" id="language" value="en" />
  </body>
</html>
