<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About</title>
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-token" content="He8Y" />
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="app" :data-theme="colorSpectrum">
        <the-public-information>
          Дорогие друзья, мы проводим небольшой конкурс и разыгрываем 100$,
          нужно всего лишь совершить обмен и оставить отзыв
          <a href="/">подробнее тут</a>
        </the-public-information>
        <the-header></the-header>
        <main>
          <div class="line"></div>
          <the-title-big>
            <template #title>Captcha</template>
          </the-title-big>
          <div class="container">
            <div class="captcha-wrapper">
              <the-captcha></the-captcha>
            </div>
          </div>
        </main>
        <the-footer></the-footer>
      </div>
    </div>
    <input type="hidden" id="login" value="0" />
    <input type="hidden" id="language" value="en" />
    <script
      data-grecaptcha="true"
      defer
      src="//www.google.com/recaptcha/api.js?hl=ru"
    ></script>
  </body>
</html>
