<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <title>7money</title>
    <meta content="_csrfferv" name="csrf-param" />
    <meta content="He8fewfewfgewyfgweyufgewyuf" name="csrf-token" />
    <meta content="7money" name="description" />
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="app background-dark transparency" :data-theme="colorSpectrum">
        <the-public-information :animation-confetti="true">
          <icon-confetti></icon-confetti>
          <p>
            Хочешь выиграть 100$? Соверши обмен и оставь отзыв
            <a href="/">подробнее тут</a>
          </p>
        </the-public-information>
        <the-header></the-header>
        <div class="background--large"></div>
        <main class="container main__wrapper">
          <input
            id="inputHiddenLastSellId"
            class="inp-sell_currency_id"
            name="last_sell_id"
            type="hidden"
          />
          <input
            id="inputHiddenLastBuyId"
            class="inp-buy_currency_id"
            name="last_buy_id"
            type="hidden"
          />
          <div class="currencies">
            <the-currencies-column-sell></the-currencies-column-sell>
            <the-currencies-column-buy></the-currencies-column-buy>
            <div
              class="details"
              :class="{'details-animate':isDetails === true && calculateData }"
              v-show="isDetails === true && calculateData"
            >
              <div class="details__wrapper stylish-wrapper">
                <the-title-details></the-title-details>
                <the-steps :show-button="true" :data-input="true"></the-steps>
                <the-preloader>{{$t('preloader')}}</the-preloader>
                <!--Форма-->
                <form class="form-exchange" v-show="isCalculateData === true">
                  <input
                    type="hidden"
                    id="orderform-sell_currency_id"
                    class="form-control inp-sell_currency_id"
                    name="OrderForm[sell_currency_id]"
                    value=""
                  />
                  <input
                    type="hidden"
                    id="orderform-buy_currency_id"
                    class="form-control inp-buy_currency_id"
                    name="OrderForm[buy_currency_id]"
                    value=""
                  />
                  <input
                    type="hidden"
                    id="orderform-type"
                    name="OrderForm[type]"
                    :value="getType"
                  />
                  <input type="hidden" name="form" value="order" />
                  <input
                    type="hidden"
                    id="selectCurrency"
                    name="OrderForm[select]"
                    value="sell"
                  />
                  <div class="items__wrapper">
                    <div class="item">
                      <div class="field">
                        <label for="orderform-sell_amount">
                          {{ $t("theGive") }}
                        </label>
                        <span class="form-group has-error">
                          <input
                            type="number"
                            id="orderform-sell_amount"
                            name="OrderForm[sell_amount]"
                            v-model="$store.state.sell_amount"
                            @blur="updateSellAmount"
                            @input="calculate('default')"
                          />
                          <span class="help-block">Error</span>
                        </span>
                        <span
                          :class="sellCurrency.code"
                          class="icon"
                          id="exchange-ddl-from"
                          :data-alias="sellCurrency.code"
                        >
                        </span>
                      </div>
                      <div class="min__max">
                        <span v-show="calculateData.min_sell_amount > 0">
                          Min:
                          <strong>
                            {{ `${calculateData.min_sell_amount}
                            ${sellCurrency.symbol}` }}
                          </strong>
                        </span>
                        <span v-show="calculateData.max_sell_amount > 0">
                          Max:
                          <strong>
                            {{ `${calculateData.max_sell_amount}
                            ${sellCurrency.symbol}` }}
                          </strong>
                        </span>
                      </div>
                      <transition name="fade">
                        <div
                          class="checkbox"
                          v-if="sellCurrency.is_sell_verified"
                        >
                          <input
                            type="checkbox"
                            id="isSellVerified"
                            name="OrderForm[is_verified]"
                            value="1"
                            @click="setIsVerified($event)"
                          />
                          <label class="label" for="isSellVerified">
                            <span
                              v-html="getValueByLanguage(sellCurrency, 'sell_verified_text_?')"
                            ></span>
                          </label>
                        </div>
                      </transition>
                      <transition name="fade">
                        <p
                          class="commission"
                          v-if="sellCurrency.id === currencyModel.PRIVAT_BANK_ID"
                        >
                          <span
                            v-html="getValueByLanguage(sellCurrency, 'name_?')"
                          ></span>
                          =
                          <strong>
                            {{ calculateData.sell_comission }}% ({{
                            calculateData.sell_amount_comission }} {{
                            sellCurrency.symbol }})
                          </strong>
                        </p>
                      </transition>
                      <transition name="fade">
                        <div class="field">
                          <label for="orderform-sell_amount_with_comission">
                            С комиссией
                            <span class="text--green">
                              <span id="sell_commission_percent"
                                >{{ calculateData.sell_comission }}</span
                              >% = {{isNaN(calculateData.sell_amount_comission)
                              === true ? 0 : calculateData.sell_amount_comission
                              }} {{ sellCurrency.symbol }}
                            </span>
                          </label>
                          <span class="form-group">
                            <input
                              type="text"
                              id="orderform-sell_amount_with_comission"
                              name="OrderForm[sell_amount_with_comission]"
                              @input="calculationAmountCommission('sell')"
                              @blur="updateSellAmount"
                              v-model="calculateData.sell_amount_with_comission"
                            />
                          </span>
                        </div>
                      </transition>
                      <transition name="fade">
                        <div class="field">
                          <label for=""> Со скидкой </label>
                          <span class="form-group discount">
                            <input
                              id=""
                              disabled="disabled"
                              name="OrderForm[buy_amount_with_discount]"
                              v-model="buyAmountWithDiscount"
                              placeholder="787"
                              readonly="readonly"
                              type="text"
                            />
                          </span>
                        </div>
                      </transition>
                    </div>
                    <div class="item">
                      <div class="field item__lacks">
                        <label for="orderform-buy_amount">
                          {{ $t("theGet") }}
                          <the-lacks-button></the-lacks-button>
                        </label>
                        <span class="form-group">
                          <input
                            class="item__lacks"
                            id="orderform-buy_amount"
                            name="OrderForm[buy_amount]"
                            aria-invalid="false"
                            v-model="$store.state.buy_amount"
                            @blur="updateBuyAmount"
                            @input="calculate('revert')"
                          />
                          <span class="help-block"></span>
                        </span>
                        <span
                          :class="buyCurrency.code"
                          id="exchange-ddl-to"
                          class="icon"
                          :data-alias="buyCurrency.code"
                        >
                        </span>
                      </div>
                      <div class="min__max">
                        <span v-show="calculateData.min_buy_amount > 0">
                          Min:
                          <strong>
                            {{ calculateData.min_buy_amount }}
                            {{buyCurrency.symbol }}
                          </strong>
                        </span>
                        <span v-show="calculateData.max_buy_amount > 0">
                          Max:
                          <strong>
                            {{calculateData.max_buy_amount }}
                            {{buyCurrency.symbol }}
                          </strong>
                        </span>
                      </div>
                      <transition name="fade">
                        <div class="field">
                          <label for="orderform-buy_amount_with_discount">
                            С комиссией
                          </label>
                          <span class="form-group">
                            <input
                              id="orderform-buy_amount_with_discount"
                              name="OrderForm[buy_amount_with_discount]"
                              type="text"
                              @input="calculationAmountCommission('buy')"
                              @blur="updateBuyAmount"
                              v-model="calculateData.buy_amount_with_comission"
                            />
                          </span>
                        </div>
                      </transition>
                      <transition name="fade">
                        <div class="field">
                          <label for="orderform-sell_amount_with_discount">
                            Со скидкой
                          </label>
                          <span class="form-group discount">
                            <input
                              id="orderform-sell_amount_with_discount"
                              disabled="disabled"
                              name="OrderForm[sell_amount_with_discount]"
                              placeholder="787"
                              readonly="readonly"
                              v-model="sellAmountWithDiscount"
                              type="text"
                            />
                          </span>
                        </div>
                      </transition>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="items__wrapper">
                    <div class="item" v-if="isSellSource">
                      <the-recovery-information
                        class="d-none"
                        v-show="currencyModel.isUahBank(sellCurrency.id)"
                      >
                        Внимание!!! Не указывайте "Логин" при создании кода в
                        бирже. Такой код на нашем сайте применить невозможно!
                      </the-recovery-information>
                      <div class="field">
                        <label for="orderform-sell_source">
                          Заплатить с этой карты 65
                        </label>
                        <span class="form-group">
                          <input
                            class="autofill"
                            type="text"
                            id="orderform-sell_source"
                            name="OrderForm[sell_source]"
                            placeholder="0000 0000 0000 0000"
                          />
                        </span>
                      </div>
                    </div>
                    <div class="item">
                      <div class="field">
                        <label for="orderform-sell_target">
                          Зачислить на этот счёт
                        </label>

                        <span class="form-group">
                          <input
                            class="autofill"
                            type="text"
                            id="orderform-sell_target"
                            name="OrderForm[sell_target]"
                            placeholder="0000 0000 0000 0000"
                          />
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="items__wrapper">
                    <div class="item">
                      <div class="field">
                        <label for="orderform-first_name">
                          Имя держателя карты
                        </label>
                        <span class="form-group">
                          <input
                            class="autofill"
                            type="text"
                            id="orderform-first_name"
                            name="OrderForm[first_name]"
                            placeholder="Василий"
                          />
                        </span>
                      </div>
                    </div>
                    <div class="item">
                      <div class="field">
                        <label for="orderform-first_name">
                          Фамилия держателя карты
                        </label>
                        <span class="form-group">
                          <input
                            class="autofill"
                            type="text"
                            id="orderform-last_name"
                            name="OrderForm[last_name]"
                            placeholder="Петров"
                          />
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="items__wrapper">
                    <div class="item">
                      <div class="field">
                        <label for="orderform-phone"> Номер телефона </label>
                        <span class="form-group">
                          <input
                            type="text"
                            id="orderform-phone"
                            name="OrderForm[phone]"
                            placeholder="+380500123456"
                            required
                          />
                        </span>
                      </div>
                    </div>
                    <div class="item">
                      <div class="field">
                        <label for="exchange_mail"> Электронная почта </label>
                        <span class="form-group">
                          <input
                            type="text"
                            id="exchange_mail"
                            name="OrderForm[email]"
                            placeholder="you@gmail.com"
                            required
                            aria-required="true"
                          />
                          <the-question-information></the-question-information>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="items__wrapper">
                    <div class="item">
                      <div class="field">
                        <label for="orderform-buy_target">
                          Зачислить на этот адрес
                        </label>
                        <span class="form-group">
                          <input
                            type="text"
                            id="orderform-buy_target"
                            name="OrderForm[buy_target]"
                          />
                        </span>
                      </div>
                    </div>
                    <div
                      class="item"
                      v-if="currencyModel.isCrypt(sellCurrency.id)"
                    >
                      <div class="checkbox">
                        <input
                          type="checkbox"
                          id="orderform-of_exchange"
                          name="OrderForm[of_exchange]"
                          value="1"
                          @click="setOfExchange"
                        />
                        <label class="label" for="orderform-of_exchange">
                          Отправляю с биржи
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="items__wrapper">
                    <div class="item">
                      <label> {{ $t("city") }}</label>
                      <div class="field">
                        <div class="form-group">
                          <select
                            name="OrderForm[city_id]"
                            id="orderform-city_id"
                            @change="setCityId($event)"
                          >
                            <option
                              v-for="(option) in calculateData.dropDownCities"
                            >
                              {{ option }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="field">
                        <label> {{ $t("city") }}</label>
                        <div class="custom-select">
                          <button
                            type="button"
                            class="select form-group"
                            @click="openSelect"
                          >
                            <span class="select-name">
                              <template
                                v-if="selectName !== null && selectName !== undefined"
                              >
                                {{ selectName }}
                              </template>
                              <template v-else> {{ $t("city") }} </template>
                            </span>
                            <icon-arrow></icon-arrow>
                            <input type="hidden" class="select-value" />
                          </button>
                          <ul class="options">
                            <li
                              @click="selectOptions"
                              v-for="(option, id) in calculateData.dropDownCities"
                              :value="id"
                            >
                              {{ option }}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="field">
                        <label for="orderform-telegram">Telegram</label>
                        <span class="form-group">
                          <input
                            type="text"
                            id="orderform-telegram"
                            name="OrderForm[telegram]"
                            placeholder="@username"
                            required
                          />
                        </span>
                      </div>
                    </div>
                    <div class="line"></div>
                    <div class="animation-border">
                      <span
                        class="border"
                        :class="{'border--red': isBorderActive }"
                      ></span>
                      <div class="box">
                        <div class="checkbox" id="orderform-of_exchange">
                          <input
                            type="checkbox"
                            name="OrderForm[agree]"
                            id="orderform-agree"
                            @click="confirmChecked"
                          />
                          <label class="label" for="orderform-agree">
                            <span>
                              Нажимая на кнопку, я подтверждаю, что я
                              ознакомился и согласен с условиями
                              <a href="https://makeup.7money.co/page/security">
                                Безопасности
                              </a>
                              и
                              <a href="https://makeup.7money.co/page/agreement">
                                Соглашением сайта
                              </a>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <button
                      id="order-submit"
                      class="button disabled"
                      @click="scrollToError()"
                    >
                      Обменять
                    </button>
                  </div>
                </form>
                <strong v-show="isCalculateData === false" class="warning">
                  Выбранное вами направление обмена в данный момент недоступно
                </strong>
                <!--Конец Формы-->
              </div>
              <the-information
                v-if="calculateData.course_seo_text"
                v-html="calculateData.course_seo_text"
              >
              </the-information>
            </div>
          </div>
          <!--Success-->
          <the-achievements>
            <template #people>
              <the-title class="title" tag="h4">8766</the-title>
              <span>Человек нам доверяют</span>
            </template>
            <template #success>
              <the-title class="title" tag="h4">7:03</the-title>
              <span>Среднее время обмена</span>
            </template>
            <template #time>
              <the-title class="title" tag="h4">116644</the-title>
              <span>Успешных обменов</span>
            </template>
            <template #reviews>
              <the-title class="title" tag="h4">689</the-title>
              <span>Отзывов BESTCHANGE</span>
            </template>
          </the-achievements>
          <!--Recent-exchanges-->
          <the-recent-exchanges></the-recent-exchanges>
          <!--Reserves-->
          <the-reserves></the-reserves>
          <!--Slider-->
          <the-slider>
            <template #reviews>
              <div class="items">
                <a href="/1" class="item" v-for="(info, idx) of 4" :key="idx">
                  <div class="box">
                    <h3>Гарик</h3>
                    <span class="date">2 дня назад</span>
                  </div>
                  <p>
                    Благодарен сервису за успешно и быстро проведенный обмен.
                  </p>
                </a>
              </div>
              <the-button tag="a" href="/1">
                <template #name> Читать</template>
              </the-button>
            </template>
            <template #news>
              <div class="items">
                <a href="/1" class="item" v-for="(info, idx) of 4" :key="idx">
                  <div class="box">
                    <h3>Гарик</h3>
                    <span class="date">2 дня назад</span>
                  </div>
                  <p>
                    Благодарен сервису за успешно и быстро проведенный обмен.
                  </p>
                </a>
              </div>
              <the-button tag="a" href="/2">
                <template #name> Читать</template>
              </the-button>
            </template>
            <template #blog>
              <div class="items">
                <a href="/1" class="item" v-for="(info, idx) of 4" :key="idx">
                  <div class="box">
                    <h3>Гарик</h3>
                    <span class="date">2 дня назад</span>
                  </div>
                  <p>
                    Благодарен сервису за успешно и быстро проведенный обмен.
                  </p>
                </a>
              </div>
              <the-button tag="a" href="/3">
                <template #name> Читать</template>
              </the-button>
            </template>
          </the-slider>
          <!--Info-->
          <the-information v-if="$store.state.blockHide">
            <h1>Криптообменник №1</h1>
            <p>
              Выбирая криптообменник, пользователь заинтересован в
              предоставлении обширной экосистемы кошельков. Интерфейс системы
              должен иметь конвертируемую криптовалюту, с возможностью быстрого
              проведения транзакции. С учетом допустимой комиссии и начисленными
              бонусами на каждую сделку. Сайт по покупке и продаже имеет
              следующие преимущества:
            </p>
            <ul>
              <li>
                Проведение обмена криптовалют возможно без регистрации на сайте;
              </li>
              <li>В личном кабинете доступна история всех транзакций;</li>
              <li>
                Большая часть транзакций может быть выполнена без комиссий
                банку.
              </li>
            </ul>
            <h2>Направления обмена криптовалют на 7MONEY</h2>
            <p>
              Обменный пункт предлагает только ликвидные курсы. При выборе
              направления, обратите внимание на резерв валют. Здесь указана
              сумма допустимого предложения на текущий операционный день по
              лучшему курсу в сети. В онлайн-обменнике криптовалют предоставлены
              пары исходя из следующих параметров:
            </p>
            <ul>
              <li>
                Ликвидность курса – динамичный спрос и предложения по проводимым
                транзакциям;
              </li>
              <li>
                Актуальность направления - присутствуют все самые востребованные
                монеты;
              </li>
            </ul>
            <p>
              Мы постоянно добавляем на сервис новые криптовалютные пары -
              рекомендуем добавить сайт в закладки и следить за обновлениями,
              также это поможет заходить на него с помощью одного клика.
            </p>
            <h2>7Money - сервис №1 по покупке и продаже криптовалюты</h2>
            <strong
              >Наш обменник крипты выделяется среди множества остальных такими
              преимуществами:</strong
            >
            <ul>
              <li>
                <strong>Автоматический обмен. </strong>Все транзакции проводятся
                в автоматическом режиме - исключено влияние человеческого
                фактора, система мгновенно рассматривает и обрабатывает заявки.
              </li>
              <li>
                <strong>Оперативная поддержка клиентов. </strong>В период с 8:00
                утра до 23:00 вечера мы готовы помочь в онлайн-чате по любым
                вопросам, связанным с использованием сервиса.
              </li>
              <li>
                <strong>Безопасность платежей. </strong>Наш сайт использует
                SSL-сертификат, что гарантирует защиту от перехвата любых данных
                интернет-хакерами, Ваши данные надежно защищены и полностью
                конфиденциальны. Детальнее про безопасность обмена криптовалюты
                на 7MONEY -
                <a href="https://7money.co/page/security">по ссылке</a>.
              </li>
              <li>
                <strong>Выгодные курсы обмена. </strong>На каждой странице
                направления в правом верхнем углу отображается актуальный курс.
                Обновление производится каждую минуту.
              </li>
              <li>
                <strong>Программа лояльности. </strong>Зарегистрированные
                пользователи получают доступ к уникальной системе лояльности –
                стоимость каждой последующей сделки будет снижена для
                пользователя сайта.
              </li>
            </ul>
            <p>
              В любой момент можно
              <a href="https://7money.co/order/status"
                >проверить статус операции</a
              >
              - просто введите № в соответствующее поле и Вы получите
              необходимую информацию актуальную на текущий момент. Прочитать
              отзывы про онлайн-обменник 7Money -
              <a href="https://7money.co/reviews">можно тут</a>.
            </p>
            <h3>
              Партнерская программа - зарабатывайте на обменах других
              пользователей
            </h3>
            <p>
              Если хотите получать дополнительный доход - можно настроить в
              личном кабинете опцию реферальной программы. Вы можете получать
              доход от курсового обмена привлеченных участников. Доход каждой
              сделки может составлять до 25% от суммы комиссии. Предложение
              действует неограниченный срок. Даже не инвестируя в актив, можно
              зарабатывать значительные средства только от привлечения других
              пользователей.
            </p>
          </the-information>
          <!--links-->
          <the-links></the-links>
        </main>
        <the-footer></the-footer>
        <!--Popups-->
        <the-night-mode>
          <h3>Время работы с 9:00 до 00:00 часовой пояс (GMT+3)</h3>
          <p>
            И в данный момент наши операторы отдыхают и видят сладкие сны:) Вы
            можете оставить заявку, и как только начнется рабочий день - мы ее
            обработаем!!!)
          </p>
        </the-night-mode>
      </div>
    </div>
    <input id="login" type="hidden" value="0" />
    <input type="hidden" id="uid" value="1" />
    <input id="language" type="hidden" value="ru" />
    <input type="hidden" id="lid" value="1" />
    <script async src="//www.google.com/recaptcha/api.js?hl=ru"></script>
  </body>
</html>
