<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Вывести вознаграждение</title>
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-token" content="He8Y" />
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="app" :data-theme="colorSpectrum">
        <the-header></the-header>
        <main class="personal-area">
          <div class="container">
            <div class="wrapper">
              <the-account-navigation>
                <template #links>
                  <a class="active" href="/">
                    <icon-personal-data></icon-personal-data>
                    Счета и персональные данные
                  </a>
                  <a href="/">
                    <icon-history></icon-history>
                    История операций
                  </a>
                  <a href="/">
                    <icon-partner></icon-partner>
                    Партнёрская программа
                  </a>
                  <a href="/">
                    <icon-withdraw-reward></icon-withdraw-reward>
                    Вывеси вознаграждение
                  </a>
                  <a href="/">
                    <icon-buy></icon-buy>
                    История выплат
                  </a>
                  <a href="/">
                    <icon-padlock></icon-padlock>
                    Изменение пароля
                  </a>
                  <a href="/">
                    <icon-random></icon-random>
                    Заявки рефералов
                  </a>
                  <a href="/">
                    <icon-create></icon-create>
                    Создать заявку
                  </a>
                  <a href="/">
                    <icon-verification></icon-verification>
                    Верификация заявок
                  </a>
                  <a href="/">
                    <icon-search></icon-search>
                    Поиск заявок
                  </a>
                </template>
                <template #buttons>
                  <a href="/">Выход</a>
                  <a href="/">Выход со всех устройств</a>
                </template>
              </the-account-navigation>
              <div class="wrapper-account">
                <the-title tag="h2" class="subtitle">
                  Вывести вознаграждение
                </the-title>
                <div class="attention">
                  Спасибо, что вы с нами, время поступления денег на счёт от 1
                  часа до 1 дня! Спасибо за терпение! =)<br />
                  P.S. обратите внимание на резервы Perfect Money USD, если
                  желаемая вами сумма получения выплат ниже наших резервов
                  Perfect Money USD, вам придется подождать пока сумма получения
                  не будет равна или превышать сумму наших счетов
                </div>
                <p class="balance">
                  Баланс: <span class="text--green">0.157319</span> PerfectMoney
                  USD
                </p>
                <form action="/profile/output" method="post">
                  <input type="hidden" :value="csrfToken" :name="csrfParam" />
                  <div class="stylish-wrapper">
                    <div class="field-list">
                      <div class="field">
                        <label for="amount">Сумма</label>
                        <div class="form-group">
                          <input
                            type="text"
                            id="amount"
                            class="bg-background-main"
                            name="UserOutput[amount]"
                            placeholder="Сумма"
                            aria-required="true"
                          />
                          <div class="help-block"></div>
                        </div>
                      </div>
                      <div class="field">
                        <label>Куда вывести</label>
                        <div class="form-group">
                          <select name="CreateOrder[course_id]">
                            <option value="93">PerfectMoney USD</option>
                          </select>
                        </div>
                      </div>
                      <div class="field">
                        <label for="target">Ваш счёт</label>
                        <div class="form-group">
                          <input
                            type="text"
                            id="target"
                            name="UserOutput[target]"
                            placeholder="Ваш счёт"
                            aria-required="true"
                            aria-invalid="true"
                          />
                          <div class="help-block">Error</div>
                        </div>
                      </div>
                      <button class="button" type="submit">Вывести</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </main>
        <the-footer></the-footer>
      </div>
    </div>
    <input type="hidden" id="login" value="0" />
    <input type="hidden" id="language" value="en" />
  </body>
</html>
