<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Восстановление пароля</title>
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-token" content="He8Y" />
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="app" :data-theme="colorSpectrum">
        <the-public-information>
          Дорогие друзья, мы проводим небольшой конкурс и разыгрываем 100$,
          нужно всего лишь совершить обмен и оставить отзыв
          <a href="/">подробнее тут</a>
        </the-public-information>
        <the-header></the-header>
        <div class="line"></div>
        <main>
          <the-title-big>
            <template #title>Восстановление пароля</template>
            <template #description
              >Пожалуйста, заполните вашу электронную почту. Ссылка для сброса
              пароля будет отправлена отправлена туда.
            </template>
          </the-title-big>
          <div class="container">
            <form action="" method="post">
              <input type="hidden" :value="csrfToken" :name="csrfParam" />
              <div class="small-wrapper">
                <div class="field">
                  <label for="entrance_mail">Email</label>
                  <div class="form-group">
                    <input
                      id="entrance_mail"
                      type="email"
                      name="LoginForm[email]"
                      placeholder="user@gmail.com"
                      autocomplete="off"
                      aria-invalid="false"
                      aria-required="false"
                    />
                    <span class="help-block"></span>
                  </div>
                </div>
                <button class="button" type="submit">Отправить</button>
              </div>
            </form>
          </div>
        </main>
        <the-footer></the-footer>
      </div>
    </div>
    <input type="hidden" id="login" value="0" />
    <input type="hidden" id="language" value="ru" />
  </body>
</html>
