<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reviews</title>
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-token" content="He8Y" />
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="app" :data-theme="colorSpectrum">
        <the-header></the-header>
        <div class="reviews">
          <div class="line"></div>
          <the-title-big>
            <template #title>Отзывы про обменник 7Money.co</template>
          </the-title-big>
          <div class="container">
            <form action="/reviews/create" method="post" class="reviews__form">
              <input type="hidden" :value="csrfToken" :name="csrfParam" />
              <the-title tag="h2" class="subtitle">
                Опубликовать отзыв
              </the-title>
              <div class="field-list">
                <div class="field">
                  <label for="exchange_mail">Имя</label>
                  <span class="form-group">
                    <input
                      type="text"
                      name="ReviewForm[name]"
                      placeholder="Имя"
                      required
                    />
                    <span class="help-block"> </span>
                  </span>
                </div>
                <div class="field">
                  <label for="exchange_mail">Email</label>
                  <span class="form-group">
                    <input
                      type="text"
                      name="ReviewForm[email]"
                      placeholder="Email"
                      required
                    />
                    <span class="help-block"> </span>
                  </span>
                </div>
                <div class="field">
                  <label for="exchange_mail">Ваш отзыв</label>
                  <span class="form-group">
                    <textarea
                      name="ReviewForm[content]"
                      placeholder="Ваш отзыв"
                      required
                    ></textarea>
                    <span class="help-block"> </span>
                  </span>
                </div>
                <div class="captcha">
                  <div class="g-recaptcha"></div>
                </div>
                <button class="button" type="submit">Оставить отзыв</button>
              </div>
            </form>
            <div class="list-wrapper">
              <div class="items">
                <div class="item stylish-wrapper">
                  <div class="info">
                    <h4>Гарик</h4>
                    <span>12.01.2022</span>
                  </div>
                  <p>
                    Начало текста статьи Начало текста статьи Начало текста
                    статьи.Начало текста статьи Начало текста статьи Начало
                    текста статьи. Начало текста статьи Начало текста статьи
                    Начало текста статьи.Начало текста статьи Начало текста
                    статьи Начало текста статьи.
                  </p>
                </div>
                <div class="item stylish-wrapper">
                  <div class="info">
                    <h4>Гарик</h4>
                    <span>12.01.2022</span>
                  </div>
                  <p>Начало текста статьи Начало текста статьи.</p>
                </div>
              </div>
              <div class="buttons">
                <a
                  class="button"
                  href="//www.bestchange.ru/7money-exchanger.html"
                  target="_blank"
                >
                  Смотреть отзывы на BestChange
                </a>
                <ul class="pagination">
                  <li class="prev">
                    <a href="#">
                      <svg
                        width="10"
                        height="18"
                        viewBox="0 0 10 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M9.63388 17.3844C9.14573 17.8725 8.35427 17.8725 7.86612 17.3844L0.366117 9.88437C-0.122038 9.39622 -0.122038 8.60476 0.366117 8.1166L7.86612 0.616606C8.35427 0.128448 9.14573 0.128448 9.63388 0.616606C10.122 1.10476 10.122 1.89622 9.63388 2.38437L3.01777 9.00049L9.63388 15.6166C10.122 16.1048 10.122 16.8962 9.63388 17.3844Z"
                          fill="#7F848C"
                        />
                      </svg>
                    </a>
                  </li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li class="next">
                    <a href="#">
                      <svg
                        class="arrow--right"
                        width="10"
                        height="18"
                        viewBox="0 0 10 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M9.63388 17.3844C9.14573 17.8725 8.35427 17.8725 7.86612 17.3844L0.366117 9.88437C-0.122038 9.39622 -0.122038 8.60476 0.366117 8.1166L7.86612 0.616606C8.35427 0.128448 9.14573 0.128448 9.63388 0.616606C10.122 1.10476 10.122 1.89622 9.63388 2.38437L3.01777 9.00049L9.63388 15.6166C10.122 16.1048 10.122 16.8962 9.63388 17.3844Z"
                          fill="#7F848C"
                        />
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <the-footer></the-footer>
      </div>
    </div>
    <input type="hidden" id="login" value="0" />
    <input type="hidden" id="language" value="ru" />
  </body>
</html>
