<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Affiliate Program</title>
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-token" content="He8Y" />
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="app" :data-theme="colorSpectrum">
        <the-header></the-header>
        <main>
          <the-title-big>
            <template #title>Правила сайта</template>
          </the-title-big>
          <div class="container">
            <div class="information-wrapper">
              Для совершения обменной операции на нашем сайте Вам нужно
              следовать правилам указанным ниже: 1. Выберите направление обмена,
              введите сумму, затем нажмите кнопку, "Обменять". 2. Следующим
              шагом является заполнение реквизитов уже непосредственно в форме
              обмена. Во всех полях обязательно перепроверьте правильность
              заполненных реквизитов. Имя и фамилия пользователя должно
              указываться без сокращений и настоящее, а также должно совпадать с
              именем платежной карты и кошельков. В случае несоблюдения правил
              заполнения обязательных реквизитов (полей) сервис оставляет за
              собой право отказать в обмене и вернуть оплаченные пользователем
              деньги за вычетом всех комиссий на операции. Если пользователь
              требует сделать возврат средств по собственному желанию, также
              сервис оставляет за собой право вернуть средства уже с вычетом
              всех комиссий на операции. Также перепроверьте суммы, которые
              будут указаны с учетом комиссий. Обязательно прочтите условия
              безопасности и соглашения, затем поставьте галочку, на Ваше
              согласие с условиями. 3. Далее нажмите Обменять, Вы увидите Вашу
              заявку на обмен на странице проверке реквизитов и введенных сумм.
              Если на этом этапе проведения обмена Вы заметили ошибку в
              реквизитах или сумме - вернитесь к предыдущей странице сайта и
              исправьте ошибки. Если все верно можем смело нажимать кнопку -
              "Все хорошо, обменять" 4. Заявка формируется по текущему курсу.
              Если заявка не была оплачена в течении 20 минут от момента её
              создания, то сервис оставляет за собой право отменить заявку, либо
              пересчитать ее по актуальному на тот момент курсу установленному в
              нашем сервисе. Также хотим подчеркнуть, что беспорядочное создание
              заявок (свыше 5 заявок подряд), которые не были оплачены клиентом,
              будут расцениваться как мошеннические действия, что повлечет в
              последствии ограничение доступа к сайту. 5. Проверьте указанную
              электронную почту, на нее Вам будет отправлен код операции, и
              ссылка на статус операции. 6. После этого в зависимости от
              направления обмена Вы либо будете переадресованы на мерчант
              платежной системы для оплаты для автоматических и
              полуавтоматических обменов, либо получите реквизиты, на которые
              нужно провести оплату для ручных направлений обмена. 7. После
              получения оплаты. Вы получаете заявленную сумму на Ваш счет. По
              регламенту обычно это занимает от 3-х до 30 минут в рабочее время.
              В редких случаях обмен может занять до 24-х часов и более, из-за
              каких-либо технических или форс мажорных обстоятельств связанных с
              работой ПриватБанка, сети Bitcoin, а также прочих платежных систем
              используемых нашим обменным сервисом. Не стесняйтесь писать нам в
              Онлайн Чат. 8. После завершения обмена, Вам на почту будет выслано
              письмо об успешной операции. 9. Операции по обмену биткоина
              проходят только после получения 1-го подтверждения от системы.
              Верифицируется через blockchain.info. 10. Переводы в системе
              BITCOIN, Litecoin, Zcash, Dash, Dogecoin могут долго быть в
              состоянии "Неподтвержденная транзакция". Из-за этого обменная
              операция долго не проходит. По правилам работы сети BITCOIN,
              Litecoin, Zcash, Dash, Dogecoin такой перевод крепится к одному из
              следующих блоков. Если этого не происходит, то в промежуток от 1-7
              дней средства возвращаются отправителю. Наш обменный сервис, к
              сожалению, никак не может повлиять на скорость обработки таких
              переводов. В целях максимально быстрого совершения операции
              обмена, просим Вас указывать рекомендованную комиссию в системе
              BITCOIN, Litecoin, Zcash, Dash, Dogecoin! В противном случае
              сделка по обмену средств может затянуться на длительный срок до 7
              дней или же будет отменена, а Ваш IP адрес может оказаться в
              черном списке нашего сервиса! 11. При длительном ожидании
              поступления и подтверждений от сети Bitcoin, Litecoin, Zcash,
              Dash, Dogecoin (1 часа и более; такое происходит если пользователь
              указывает недостаточную комиссию, для попадания транзакции в блок
              и получения хотя бы одного подтверждения), мы имеем право
              пересчитать сумму оплаты по курсу, на момент получения 1го
              подтверждения от сети BITCOIN, Litecoin, Zcash, Dash, Dogecoin и
              произвести выплату уже с пересчитанной суммой, только при условии
              если наш сервис несет убытки. Курс пересчитывается только в
              меньшую сторону при условии, что обменный сервис несет убытки! В
              любом другом случае курс в заявке остается не изменным!!!! 12.
              Уважаемые клиенты, курс Биткоина мы пересчитываем только в меньшую
              сторону, то есть: если после Вашей оплаты в течении 1-го часа Ваша
              транзакция не получила ни одного подтверждения, а курс биткоина
              снизился (стал ниже курса указанного в заявке), то наш сервис
              оставляет за собой право пересчитать Вашу заявку. В ситуации,
              когда подтверждение в течении 1-го часа не было получено, а курс
              биткоина вырос, то наш сервис оставляет за собой право не
              пересчитывать заявку и оставить курс на момент создания заявки без
              всяких изменений!!! Так как в инструкции (которая указана в
              созданной Вами заявке) мы предупреждали, чтобы Вы указывали
              достаточную комиссию. Не наша вина, что Вы не знакомы с комиссиями
              в сети Биткоин и решили сэкономить на комиссии при отправке. За 1
              час при достаточной комиссии, без исключения будет хотя бы 1-но
              подтверждение. Поэтому, настоятельно просим Вас следовать
              инструкциям нашего сайта. Повторяем, при изменении курса биткоина
              в большую сторону, курс пересчитывать мы не будем. Пожалуйста
              указывайте достаточную комиссию при переводе, дабы избежать
              неприятных инцидентов. О комиссии в данный момент в сети Биткоин
              можно узнать тут: Ссылка Либо у нашего консультанта в чате.
              Уважаемые пользователи указывайте достаточную комиссию в "сатоши",
              при отправке Bitcoin. Давайте экономить Ваше и наше время и нервы.
              Скупой платит дважды =) 13. Любые операции обмена могут быть
              приостановлены для дополнительных проверок Службы Безопасности как
              нашего сервиса, так и Банков с Платежными системами. 14.
              Транзакции связаные с получением криптовалют (когда сервис
              получает криптовалюты от клиента) проходят AML проверки. При
              высоком проценте риска (более 70%) сервис оставляет за собой право
              осуществить возврат криптовалюты на кошелек клиента и отказать в
              обмене. Все комиссии в таком случае оплачивает клиент!!!!
              ВНИМАНИЕ! Наш сервис нигде не размещает свои реквизиты. Обмен
              проводится только на сайте 7money.co и только следуя вышеуказанным
              инструкциям. ОСТЕРЕГАЙТЕСЬ МОШЕННИКОВ. Помните! Мошенника
              распознать просто: он предложит небывалое счастье за невероятно
              короткое время. График работы сервиса: 9:00 - 00:00 по Киевскому
              времени. Если оператора нет в сети, ручные и полуавтоматические
              обмены будут закончены после возобновления работы. Если Вы не
              нашли ответа на свой вопрос в данной статье, то обратитесь в
              онлайн помощь нашего сайта и наши операторы Вам обязательно
              помогут и ответят на интересующие Вас вопросы!!! С Ув. Ваша
              команда 7money.co =)
            </div>
          </div>
        </main>
        <the-footer></the-footer>
      </div>
    </div>
    <input type="hidden" id="login" value="0" />
    <input type="hidden" id="language" value="en" />
  </body>
</html>
