<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Affiliate Program</title>
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-token" content="He8Y" />
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="app" :data-theme="colorSpectrum">
        <the-header></the-header>
        <main>
          <the-title-big>
            <template #title>Безопасность</template>
          </the-title-big>
          <div class="container">
            <div class="information-wrapper">
              сайте 7money.co 1. Будьте внимательны при заполнении полей “Номер
              счета" и “Ф.И.О." адресата. Допустив ошибку, Вы можете
              безвозвратно потерять свои денежные средства. 2. Если вам
              предлагают сделать перевод средств, Ваши знакомые, родственники,
              друзья под предлогом в долг и тд., используя при этом соц. сети,
              скайп или звонят с незнакомого номера телефона. Удостоверьтесь,
              что это именно тот человек которого Вы знаете, свяжитесь с ним, а
              лучше предложите встретиться лично и все обсудить. Если по какой
              либо причине связаться с человеком Вы не можете, то лучше
              проигнорировать просьбу, что бы не стать жертвой мошенников. 3.
              Убедительная просьба не сообщать 3-им лицам, срок действия Вашей
              банковской карты и CVV-код. Банк, исключительно в редких случаях
              звонит первым, и никогда не просит сообщить CVV-код Вашей
              банковской карты, пароли от Вашей почты и Онлайн Банкинга. Не
              диктуйте 3-им лицам "секретные кода" пришедшие в смс на Ваш
              телефон привязанный к Вашей банковской карте. 4. Откажитесь от
              проведения средств через ваши счета, Собственников которых Вы не
              знаете. В противном случае Вы можете стать соучастником аферы,
              которая может повлечь за собой Уголовные разбирательства. 5. Также
              уточняйте у оператора в онлайн чате нашего сайта о той или иной
              информации присланной от нашего сервиса к Вам на почту. Возможно
              мы ничего не присылали Вам, а от нашего имени Вам пишет МОШЕННИК с
              целью наживы. 6. Мы никогда не предоставляем займов-кредитов, не
              просим денежные средства у пользователей в долг или под проценты и
              не принимаем пожертвования или подарки. Обмены осуществляются
              только на нашем сайте 7money.co 7. Сервис не запрещает обмены на
              счета 3-х лиц, но крайне не рекомендует проведение таких операций.
              Такие операции не безопасны и часто используются мошенниками. 8.
              Никому не сообщайте и не передавайте пароли и логины от Ваших
              электронных кошельков. Это может привести к печальным последствиям
              и потере денежных средств. 9. Меняйте периодично пароли от Ваших
              электронных кошельков. И храните Ваши секреты в труднодоступных
              местах, желательно не на ПК и в заметках Вашего телефона. 10.
              Проверяйте наличие SSL сертификата, на сервисах или сайтах при
              использовании интернета. Проверяйте также кем он выдан, он может
              быть просто сгенерирован на сервере владельца сайта. Сайты без SSL
              сертификата не защищают шифрованием получаемые или передаваемые
              Вами данные. Ознакомиться с нашим SSL сертификатом и проверить его
              надежность Вы можете на главной нашего сайта, нажав кнопкку с
              зеленым замочком и надписью "Проверено и Защищено". Также в
              интернете множество ресурсов сканирующих сайт и показывающих
              оценку SSL защиты сайта. У нас А+ ;) 11. Повторяем для
              закрепления. Мы не делаем обмены через Соц.сети, скайп, телефон,
              электронную почту и другие мессенджеры. Обмен осуществляется
              только на нашем сайте 7money.co! Помните! Мошенника распознать
              просто: он предложит небывалое счастье за невероятно короткое
              время. С Ув. Ваша команда 7money.co =)
            </div>
          </div>
        </main>
        <the-footer></the-footer>
      </div>
    </div>
    <input type="hidden" id="login" value="0" />
    <input type="hidden" id="language" value="en" />
  </body>
</html>
