<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Вход</title>
    <meta name="csrf-param" content="_csrf" />
    <meta name="csrf-token" content="He8Y" />
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="app" :data-theme="colorSpectrum">
        <the-public-information>
          Дорогие друзья, мы проводим небольшой конкурс и разыгрываем 100$,
          нужно всего лишь совершить обмен и оставить отзыв
          <a href="/">подробнее тут</a>
        </the-public-information>
        <the-header></the-header>
        <div class="line"></div>
        <main>
          <the-title-big>
            <template #title>Регистрация</template>
            <template #description>
              Пожалуйста, заполните следующие поля для регистрации:
            </template>
          </the-title-big>
          <div class="container">
            <form action="" method="post">
              <input type="hidden" :value="csrfToken" :name="csrfParam" />
              <div class="small-wrapper">
                <div class="field">
                  <label for="entrance_mail">Имя</label>
                  <div class="form-group">
                    <input type="text" placeholder="Name" />
                    <span class="help-block"></span>
                  </div>
                </div>
                <div class="field">
                  <label for="registration_mail">Email</label>
                  <span class="form-group">
                    <input placeholder="user@gmail.com" />
                    <div class="question-information">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                      >
                        <path
                          d="M13.774 26.028a2.06 2.06 1080 1 0 4.12 0 2.06 2.06 1080 1 0-4.12 0zm5.69-7.776c2.898-1.596 4.37-3.91 4.37-6.876 0-5.094-4.018-7.376-8-7.376-3.878 0-8 2.818-8 8.042a2 2 0 1 0 4 0c0-2.778 2.074-4.042 4-4.042 1.494 0 4 .438 4 3.376 0 1.042-.274 2.258-2.298 3.374-1.376.754-3.702 2.712-3.702 5.25a2 2 0 1 0 4 0c0-.372.79-1.286 1.63-1.748z"
                          fill="currentColor"
                        ></path>
                      </svg>
                      <div class="recovery-information">
                        <p>
                          Для сохранения ваших операций, авторизуйтесь в личном
                          кабинете клиента.Также регистрация упростит создание
                          заявок, вы сможете заранее ввести Ваши реквизиты для
                          автозаполнения и создания заявки.
                        </p>
                        <div class="arrow"></div>
                      </div>
                    </div>
                    <span class="help-block"></span>
                  </span>
                </div>
                <div class="field password" data-idx="0">
                  <label for="changepasswordform-password">Пароль:</label>
                  <div class="form-group">
                    <input
                      type="password"
                      id="changepasswordform-password"
                      name="ChangePasswordForm[password]"
                      placeholder="Введите новый пароль"
                      required
                    />
                    <span @click="viewPassword(0)" class="show-password">
                      <svg
                        id="eye"
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        viewBox="0 0 612 612"
                        xml:space="preserve"
                      >
                        <path
                          d="M609.608,315.426c3.19-5.874,3.19-12.979,0-18.853c-58.464-107.643-172.5-180.72-303.607-180.72
			                          S60.857,188.931,2.393,296.573c-3.19,5.874-3.19,12.979,0,18.853C60.858,423.069,174.892,496.147,306,496.147
			                          S551.143,423.069,609.608,315.426z M306,451.855c-80.554,0-145.855-65.302-145.855-145.855S225.446,160.144,306,160.144
			                          S451.856,225.446,451.856,306S386.554,451.855,306,451.855z"
                          fill="currentColor"
                        ></path>
                        <path
                          d="M306,231.67c-6.136,0-12.095,0.749-17.798,2.15c5.841,6.76,9.383,15.563,9.383,25.198c0,21.3-17.267,38.568-38.568,38.568
			                          c-9.635,0-18.438-3.541-25.198-9.383c-1.401,5.703-2.15,11.662-2.15,17.798c0,41.052,33.279,74.33,74.33,74.33
			                          s74.33-33.279,74.33-74.33S347.052,231.67,306,231.67z"
                          fill="currentColor"
                        ></path>
                      </svg>
                    </span>
                    <div class="help-block"></div>
                  </div>
                </div>
                <div class="field password" data-idx="1">
                  <label for="changepasswordform-password"
                    >Подтвердите Пароль:</label
                  >
                  <div class="form-group">
                    <input
                      type="password"
                      id="changepasswordform-password"
                      name="ChangePasswordForm[password]"
                      placeholder="Введите новый пароль"
                      required
                    />
                    <span @click="viewPassword(1)" class="show-password">
                      <svg
                        id="eye"
                        xmlns="http://www.w3.org/2000/svg"
                        x="0px"
                        y="0px"
                        viewBox="0 0 612 612"
                        xml:space="preserve"
                      >
                        <path
                          d="M609.608,315.426c3.19-5.874,3.19-12.979,0-18.853c-58.464-107.643-172.5-180.72-303.607-180.72
			                          S60.857,188.931,2.393,296.573c-3.19,5.874-3.19,12.979,0,18.853C60.858,423.069,174.892,496.147,306,496.147
			                          S551.143,423.069,609.608,315.426z M306,451.855c-80.554,0-145.855-65.302-145.855-145.855S225.446,160.144,306,160.144
			                          S451.856,225.446,451.856,306S386.554,451.855,306,451.855z"
                          fill="currentColor"
                        ></path>
                        <path
                          d="M306,231.67c-6.136,0-12.095,0.749-17.798,2.15c5.841,6.76,9.383,15.563,9.383,25.198c0,21.3-17.267,38.568-38.568,38.568
			                          c-9.635,0-18.438-3.541-25.198-9.383c-1.401,5.703-2.15,11.662-2.15,17.798c0,41.052,33.279,74.33,74.33,74.33
			                          s74.33-33.279,74.33-74.33S347.052,231.67,306,231.67z"
                          fill="currentColor"
                        ></path>
                      </svg>
                    </span>
                    <div class="help-block"></div>
                  </div>
                </div>
                <div class="field">
                  <label for="registration_link">Ссылка на ID реферала</label>
                  <span class="form-group">
                    <input
                      id="registration_link"
                      type="text"
                      name="SignupForm[referred_by]"
                      autocomplete="off"
                      aria-invalid="false"
                      aria-required="false"
                    />
                    <span class="help-block"></span>
                  </span>
                </div>
                <div class="captcha">
                  <div
                    class="g-recaptcha"
                    data-lang="ru"
                    data-sitekey="6LcIdggUAAAAABRu2Ize9tt04x7hhkHh2KLRgoAf"
                  ></div>
                </div>
                <button class="button" type="submit">Сохранить</button>
              </div>
            </form>
          </div>
        </main>
        <the-footer></the-footer>
      </div>
    </div>
    <input type="hidden" id="login" value="0" />
    <input type="hidden" id="language" value="ru" />
  </body>
</html>
