@keyframes button {
  0% {
    left: -40px;
  }

  100% {
    left: 110%;
  }
}

@keyframes border {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
}

//counter
@keyframes asd {
  0% {
    z-index: 2;
  }

  100% {
    z-index: 4;
  }
}

@keyframes turn {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes turn2 {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

//default
.animation-from-right-enter-active,
.animation-from-right-leave-active {
  transform: translateX(10px);
  opacity: 0;
}

.animation-from-top-enter-active,
.animation-from-top-leave-active {
  transform: translateY(-10px);
  opacity: 0;
}

//index

.details-hide-enter-active,
.details-hide-leave-active {
  max-width: 100%;
  opacity: 1;
  transition: var(--transition);
}

.details-hide-enter,
.details-hide-leave-to {
  max-width: 0;
  opacity: 0;
}

.currencies-hide-enter-active,
.currencies-hide-leave-active {
  transition: 0.4s ease-in-out;
}

.currencies-hide-enter,
.currencies-hide-leave-to {
  opacity: 0;
}
