@keyframes button {
  0% {
    left: -40px;
  }

  100% {
    left: 110%;
  }
}


@keyframes border {
  100% {
    stroke-dashoffset: 0;
  }

}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
}


//counter
@keyframes asd {
  0% {
    z-index: 2;
  }

  100% {
    z-index: 4;
  }
}

@keyframes turn {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes turn2 {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(-90deg);
  }
}


@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

/////////////
.show-enter-active, .show-leave-active {
  transition: var(--transition);
  opacity: 1;
}

.show-enter, .show-leave-to {
  position: absolute !important;
  z-index: -3;
  transform: translateX(150px);
  opacity: 0;


}

.details-hide-enter-active, .details-hide-leave-active {
  max-width: 100%;
  transition: var(--transition);
}

.details-hide-enter, .details-hide-leave-to {
  opacity: 0;
  max-width: 0;
  transition: var(--transition);
}



.currencies-hide-enter-active, .currencies-hide-leave-active {
  transition: 1s ease;
}

.currencies-hide-enter, .currencies-hide-leave-to {
  opacity: 0;
}

.authorization-buttons-enter-active, .authorization-buttons-leave-active {
  transition: var(--transition);
}

.authorization-buttons-enter, .authorization-buttons-leave-to {
  opacity: 0;
}

.burger-enter-active, .burger-leave-active {
  transition: var(--transition);
}

.burger-enter, .burger-leave-to {
  transform: translateX(100px);
  opacity: 0;
}
