[v-cloak] {
  display: none;
}

.status--completed,
.text--green {
  color: var(--primary);
}

.text--black-white {
  color: var(--quaternary);
}

.text--blue {
  color: var(--blue);
}

.status--failed,
.text--red {
  color: var(--red);
}

.line-break {
  word-break: break-all;
}

.attention {
  border: 1px dashed var(--red);
  border-radius: var(--radius-eigh);
  padding: 15px;
}

.popup-wrapper {
  background: var(--seventh);
  border-radius: var(--radius-four);
  box-shadow: var(--shadow);
  outline: 1px solid var(--ternary);
}

.stylish-wrapper {
  background: var(--seventh);
  border-radius: var(--radius-ten);
  box-shadow: var(--shadow);
}

.information-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--quaternary);
}

.information-wrapper,
.list-wrapper {
  padding: 60px 0;
  @include _768 {
    padding: 40px 0;
  }
}

.line {
  width: 100%;
  height: 1px;
  border: 1px solid var(--secondary);
}

//darkening
.darkening {
  &:before {
    content: "";
    position: fixed;
    background: var(--seventh);
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 3;
  }
}

.background {
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 100%;
    height: 200px;
    background: var(--secondary);
    z-index: 1;
  }
}

.animate-right-enter-active,
.animate-right-leave-active {
  transition: var(--transition);
}

.animate-right-enter,
.animate-right-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}
