:root {
  --transparent: transparent;
  --radius-ten: 10px;
  --radius-eigh: 8px;
  --radius-four: 4px;
  --transition: all 0.4s ease-in-out;
  --light-green: #2cb5b9;
  --white: #ffffff;
  --grey: #7f848c;
  --black: #2a313c;
  --red: #eb5757;
  --blue: #2f80ed;
  --yellow: #fbba23;
  --green: #65bb5c;
  --pink: #2a2f6a;
  --font-family: "GothamPro";
  --shadow-inset-error: inset -3px -3px 3px var(--red),
    inset 3px 3px 3px var(--red), 0 0 0 var(--red), 0 0 0 var(--red);
  --shadow-error: inset 0 0 0 var(--red), inset 0 0 0 var(--red),
    -4px -2px 8px var(--red), 4px 2px 8px var(--red);
  --shadow-secondary: inset 0 0 0 #1b2027, inset 0 0 0 #3e4551,
    4px 2px 6px #1b2027, -4px -2px 6px #3e4551;
  --shadow-secondary-inset: inset 2px 2px 3px #1b2027,
    inset -1px -1px 3px #3e4551, 0 0 0 #1b2027, 0 0 0 #3e4551;
}

//Light Theme
[data-theme="light"] {
  --gradient: linear-gradient(96.02deg, #00b047 0%, #4cd784 100%);
  --gradient-secondary: linear-gradient(134.83deg, #363c46, #1d2531);
  --primary: #00b047;
  --primary-transition: rgba(0, 176, 71, 0.3);
  --secondary: #d9e1e8;
  --secondary-transparent: rgba(217, 225, 232, 0.65);
  --ternary: #7f848c;
  --quaternary: #363c46;
  --fifth: #c7d0d8;
  --sixth: #ffffff;
  --seventh: #e8edf1;
  --eighth: #a6abaf;
  --ninth: #e9c1c1;
  --tenth: #23262c;
  --shadow-inset-autofill: inset 0 0 0 50px #e8edf1;
  --shadow-inset-autofill-error: inset 0 0 0 20px #e9c1c1;
  --shadow: inset 0 0 0 #ffffff, inset 0 0 0 rgba(136, 165, 191, 0.48),
    -4px -2px 8px #ffffff, 4px 2px 8px rgba(136, 165, 191, 0.54);
  --shadow-inset: inset -3px -3px 3px #ffffff,
    inset 3px 3px 3px rgba(136, 165, 191, 0.48), 0 0 0 #ffffff,
    0 0 0 rgba(136, 165, 191, 0.54);
  --shadow-primary: -4px -2px 8px #beffd8, 4px 2px 8px rgba(136, 165, 191, 0.54);
  --shadow-primary-inset: inset -3px -3px 3px #16c85d, inset 3px 3px 3px #209e53,
    0 0 0 #16c85d, 0 0 0 #209e53;
}

//Dark Theme
[data-theme="dark"] {
  --gradient: linear-gradient(90.59deg, #00f9c9 0%, #1ee3bf 100%);
  --gradient-secondary: linear-gradient(134.83deg, #36393d, #2a2d30);
  --primary: #00f9c9;
  --primary-transition: rgba(0, 249, 201, 0.3);
  --secondary: #1a1a1a;
  --secondary-transparent: rgba(26, 26, 26, 0.65);
  --ternary: #d9e1e8;
  --quaternary: #ffffff;
  --fifth: #170d2b;
  --sixth: #363c46;
  --seventh: #252525;
  --eighth: #706f74;
  --ninth: #463030;
  --tenth: #575757;
  --shadow-inset-autofill: inset 0 0 0 50px #252525;
  --shadow: inset 0 0 0 #515359, inset 0 0 0 #070707, -4px -2px 8px #515359,
    4px 2px 8px #070707;
  --shadow-inset: inset -3px -3px 3px #515359, inset 3px 3px 3px #070707,
    0 0 0 #515359, 0 0 0 #070707;
  --shadow-primary: inset -3px -3px 3px #46fddb, inset 3px 3px 3px #34e2c1;
  --shadow-primary-inset: inset -3px -3px 3px #46fddb, inset 3px 3px 3px #34e2c1,
    0 0 0 #46fddb, 0 0 0 #34e2c1;
  --shadow-inset-autofill-error: inset 0 0 0 20px #463030;
}
