.copy {
  position: relative;
  height: 13px;
  width: 13px;
  color: var(--primary);
  display: inline-flex;
  margin-left: 4px;
  font-size: 12px;
  & svg {
    height: 100%;
    width: 100%;
  }
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
  }
  & span {
    position: absolute;
    width: max-content;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--radius-four);
    box-shadow: var(--shadow);
    background: var(--seventh);
    color: var(--quaternary);
    padding: 4px 6px;
    z-index: 1;
  }
}
