.PMUSD {
  background: url("../images/currencies/PMUSD.svg") no-repeat;
}

.BNBBEP20 {
  background: url("../images/currencies/BNB.svg") no-repeat;
}

.PRUSD,
.PRRUB {
  background: url("../images/currencies/PR.svg") no-repeat;
}

.P24UAH {
  background: url("../images/currencies/P24UAH.svg") no-repeat;
}

.BTC {
  background: url("../images/currencies/BTC.svg") no-repeat;
}

.ADVCUSD,
.ADVCRUB {
  background: url("../images/currencies/ADVC.svg") no-repeat;
}

.CASHAED {
  background: url("../images/currencies/AED.svg") no-repeat;
}

.YAMRUB {
  background: url("../images/currencies/YAMRUB.svg") no-repeat;
}

.LTC {
  background: url("../images/currencies/LTC.svg") no-repeat;
}

.DASH {
  background: url("../images/currencies/DASH.svg") no-repeat;
}

.ZEC {
  background: url("../images/currencies/ZEC.svg") no-repeat;
}

.MONOBUAH {
  background: url("../images/currencies/MONOB.svg") no-repeat;
}

.CARDUAH,
.CARDKZT,
.CARDRUB {
  background: url("../images/currencies/CARD.svg") no-repeat;
}

.USDTERC20,
.USDTOMNI,
.USDTTRC20 {
  background: url("../images/currencies/TETHER.svg") no-repeat;
}

.CASHUSD,
.CASHRUB {
  background: url("../images/currencies/USD.svg") no-repeat;
}

.CASHEUR {
  background: url("../images/currencies/EURO.svg") no-repeat;
}
.QWRUB {
  background: url("../images/currencies/QWRUB.svg") no-repeat;
}

.ACRUB {
  background: url("../images/currencies/ACRUB.svg") no-repeat;
}

.SBERRUB {
  background: url("../images/currencies/SBERRUB.svg") no-repeat;
}

.TCSBRUB {
  background: url("../images/currencies/TCSBRUB.svg") no-repeat;
}

.TBRUB {
  background: url("../images/currencies/TBRUB.svg") no-repeat;
}

.ETH {
  background: url("../images/currencies/ETH.svg") no-repeat;
}

.DOGE {
  background: url("../images/currencies/DOGE.svg") no-repeat;
}

.OSDBUAH {
  background: url("../images/currencies/OSDBUAH.svg") no-repeat;
}

.USBUAH {
  background: url("../images/currencies/USBUAH.svg") no-repeat;
}

.RFBUAH {
  background: url("../images/currencies/RFBUAH.svg") no-repeat;
}

.PMBBUAH {
  background: url("../images/currencies/PMBBUAH.svg") no-repeat;
}

.TRX {
  background: url("../images/currencies/TRX.svg") no-repeat;
}

.KSPBKZT {
  background: url("../images/currencies/KASPI.svg") no-repeat;
}
.CASHGBP {
  background: url("../images/currencies/CASHGBP.svg") no-repeat;
}
.CASHCAD {
  background: url("../images/currencies/CASHCAD.svg") no-repeat;
}
