.lacks {
  transition: var(--transition);

  & .wrapper {
    position: absolute;
    bottom: 25px;
    max-width: 300px;
    right: 0;
    padding: 20px;
    opacity: 0;
    background: var(--seventh);
    border-radius: var(--radius-four);
    box-shadow: var(--shadow);
    outline: 1px solid var(--ternary);
    z-index: -5;

    & button {
      font-size: 14px;
      height: 35px;
      margin-top: 10px;
    }
  }

  span {
    padding-top: 10px;
    color: var(--primary);
    font-weight: 500;
    cursor: pointer;
  }

  &:hover {
    & .wrapper {
      opacity: 1;
      z-index: 2;
    }
  }
}
