.article {
  & .title--big {
    text-align: left;

    & p {
      font-size: 14px;
    }
  }

  & .wrapper {
    padding: 40px 0;
    color: var(--quaternary);
    display: flex;
    flex-direction: column;
    gap: 15px;

    & p {
      font-size: 18px;
      @include _768 {
        font-size: 14px;
      }
    }
  }
}