.check-status {
  & .wrapper {
    position: relative;
    display: flex;
    padding: 60px 0;
    @include _768 {
      flex-direction: column;
      padding: 40px 0;
    }
  }

  & .stylish-wrapper {
    padding: 60px;
    background: var(--seventh);
    @include _1200 {
      padding: 40px;
    }
    @include _768 {
      padding: 20px;
    }
  }

  & .title {
    margin-bottom: 30px;
  }

  & .field {
    margin-bottom: 20px;
  }

  & .button {
    width: 100%;
  }

  & figure {
    width: 100%;
    position: absolute;
    top: -40px;
    right: 0;
    max-width: 666px;
    @include _1200 {
      top: -18px;
      right: -40px;
      max-width: 500px;
    }
    @include _992 {
      top: 25px;
      right: -60px;
      max-width: 440px;
      opacity: 0.8;
    }
    @include _768 {
      position: relative;
      top: auto;
      right: auto;
      max-width: 100%;
      opacity: 1;
    }
  }
}