.payment {
  margin-bottom: 60px;
  @include _768 {
    margin-bottom: 40px;
  }

  & .container > .stylish-wrapper {
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: 20px;
    overflow: hidden;
    background: var(--seventh);
    @include _1200 {
      grid-template-columns: 330px 1fr;
    }
    @include _992 {
      grid-template-columns: 1fr;
    }
  }

  & h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--quaternary);

    & span {
      width: 15px;
      height: 15px;
      display: inline-flex;
      background-size: cover;
      margin-left: 4px;
    }
  }

  & .steps {
    margin-bottom: 10px;
  }
  &__details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    & p {
      color: var(--quaternary);
    }

    & .buttons {
      display: flex;
      gap: 15px;
      @include _576 {
        flex-direction: column;
      }

      & .button {
        width: 100%;
      }
    }
  }
}

