.application-status {
  & .warning {
    display: flex;
    align-items: center;
    gap: 20px;
    background: var(--secondary);
    border-radius: var(--radius-eigh);
    padding: 20px;
    @include _768 {
      flex-direction: column;
      text-align: center;
      padding: 15px;
      gap: 10px;
    }

    & svg {
      height: 50px;
      @include _768 {
        height: 30px;
      }
    }

    & strong {
      font-size: 16px;
      @include _768 {
        font-size: 14px;
      }
    }
  }
  & .wrapper {
    display: flex;
    padding: 40px 0;
    column-gap: 20px;
    @include _992 {
      column-gap: 0;
    }
  }

  & .warning {
    width: 100%;
    color: var(--quaternary);
  }

  &__info {
    width: 100%;

    & .stylish-wrapper {
      padding: 30px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    & .block {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    & .operations {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      padding: 15px;
      box-shadow: var(--shadow-inset);
      border-radius: var(--radius-four);
      max-width: 320px;
      height: max-content;
      @include _1200 {
        max-width: 100%;
      }

      & .items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 10px;

        & strong {
          color: var(--quaternary);
          word-break: break-all;
          white-space: nowrap;
        }
      }

      & .name {
        display: flex;
        align-items: center;
        column-gap: 4px;
        white-space: nowrap;
        @include _1200 {
          font-size: 16px;
        }
        @include _992 {
          font-size: 14px;
        }
      }

      & .icon {
        display: block;
        width: 17px;
        height: 17px;
        background-size: contain;
      }
    }
  }
}

.operation-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  & h2 {
    font-size: 20px;
    font-weight: 500;
  }
  & .icon {
    color: var(--primary);
    max-width: 21px;
    width: 100%;
  }
  & > span {
    & svg {
      vertical-align: bottom;
    }
  }

  & span {
    line-height: 16px;
  }

  & strong {
    color: var(--quaternary);
  }

  & a {
    text-decoration: none;
  }
}
