[data-theme="dark"] {
  .contest-rules__terms,
  .contest-rules span,
  .contest-advantages .description {
    background: var(--light-green);
  }
}

.contest-advantages,
.contest-rules {
  margin-bottom: 20px;
}

.contest-rules,
.contest-motivation,
.contest-advantages {
  position: relative;
  padding: 20px;
  border-radius: 10px;
}

.contest-rules {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;
  margin-bottom: 20px;

  &__terms {
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 500;
    color: var(--quaternary);
    background: var(--secondary);
    @include _768 {
      padding: 8px 14px;
      font-size: 14px;
    }
  }

  & ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  & li {
    display: block;
    & strong {
      color: var(--quaternary);
    }
  }

  & span {
    font-weight: 500;
    color: var(--quaternary);
    background: var(--secondary);
    width: 24px;
    height: 24px;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    @include _768 {
      font-size: 14px;
    }
  }
}

.contest-motivation {
  font-size: 26px;
  font-weight: 500;
  color: var(--quaternary);
  @include _768 {
    font-size: 20px;
  }

  & a {
    text-decoration: none;
    color: var(--primary);
  }
}

.contest-title,
h1 {
  font-weight: 500;
}
