.error {
  position: relative;
  font-size: 18px;
  padding: 60px 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  @include _768 {
    padding: 40px 0;
    font-size: 14px;
  }

  & .wrapper {
    max-width: 550px;
    @include _768 {
      max-width: 100%;
    }
  }

  & p {
    margin: 30px 0;
    @include _768 {
      margin: 15px 0;
    }
  }

  & a {
    text-decoration: none;
    transition: var(--transition);

    &:hover {
      color: var(--primary);
    }
  }

  & .buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    @include _768 {
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 20px;
      gap: 15px;
    }

    & .button {
      @include _576 {
        width: 100%;
      }
    }
  }

  & figure {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    max-width: 700px;
    width: 100%;
    z-index: -1;
    @include _768 {
      position: relative;
      top: auto;
      right: auto;
      max-width: 400px;
      transform: translateY(0%);
      margin: 0 auto;
      z-index: 0
    }
  }

}