.partners {
  & figure {
    max-height: 80px;
    border-bottom: 1px solid var(--secondary);
    text-align: center;
    padding-bottom: 15px;
  }

  & p {
    text-align: center;
    margin-top: 10px;
  }

  &__links {
    display: flex;
    margin-top: 10px;
    gap: 10px;
  }
}