.payment {
  margin-bottom: 60px;
  @include _768 {
    margin-bottom: 40px;
  }

  & .code {
    text-align: center;
  }

  & .container > .stylish-wrapper {
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: 20px;
    overflow: hidden;
    background: var(--seventh);
    @include _1200 {
      grid-template-columns: 330px 1fr;
    }
    @include _992 {
      grid-template-columns: 1fr;
    }
  }

  & h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--quaternary);

    & span {
      width: 15px;
      height: 15px;
      display: inline-flex;
      background-size: cover;
      margin-left: 4px;
    }
  }

  & h5 {
    font-size: 16px;
    font-weight: 600;
    color: var(--quaternary);
  }

  & .steps {
    margin-bottom: 10px;
  }

  &__details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @include _768 {
      row-gap: 14px;
    }

    & p,
    & li {
      color: var(--quaternary);
    }

    & .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 16px;
      @include _576 {
        flex-direction: column;
      }

      & .button {
        width: 100%;

        &:first-child,
        &:last-child {
          width: calc(50% - 8px);
          @include _576 {
            width: 100%;
          }
        }

        &:last-child {
          order: -1;
        }
      }
    }

    & ul {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }

  & .payment-instruction {
    & .text_border {
      margin-bottom: 16px;
      border-radius: var(--radius-eigh);
      padding: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
