.payment {
  margin-bottom: 60px;
  @include _768 {
    margin-bottom: 40px;
  }

  & .code {
    text-align: center;
  }

  & .container > .stylish-wrapper {
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: 20px;
    background: var(--seventh);
    @include _1200 {
      grid-template-columns: 330px 1fr;
    }
    @include _992 {
      grid-template-columns: 1fr;
    }
  }

  & h4 {
    font-size: 20px;
    font-weight: 500;
    color: var(--quaternary);

    & span {
      width: 15px;
      height: 15px;
      display: inline-flex;
      background-size: cover;
      margin-left: 4px;
    }
  }

  & h5 {
    font-size: 16px;
    font-weight: 500;
    color: var(--quaternary);
  }

  & .steps {
    margin-bottom: 10px;
  }

  &__details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @include _768 {
      row-gap: 14px;
    }

    & p,
    & li {
      color: var(--quaternary);
    }

    & .buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      & form,
      & .button {
        width: 100%;
      }
      &-small {
        display: none;
        width: 100%;
        column-gap: 10px;
        @include _1024 {
          display: flex;
        }
      }
      & svg {
        height: 36px;
      }
    }

    & ul {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }

  & .payment-instruction {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & p span strong {
      word-break: break-all;
    }

    & .text_border {
      border-radius: var(--radius-eigh);
      padding: 10px;
    }
  }
}
