.reviews {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    & h2 {
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  & .field-list {
    max-width: 500px;
    width: 100%;
  }

  & .captcha {
    margin-top: 20px;
    @include _768 {
      margin-bottom: 10px
    }
  }

  & .field-list,
  & .captcha {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  & textarea {
    height: 150px;
  }
}