.nav > li > a {
  padding: 10px 10px;
}

.navbar-form {
  padding: 10px 10px;
}

#control-sidebar-home-tab .btn {
  width: 100%;
  white-space: normal;
}

@media (max-width: 1200px) {
  .control-sidebar {
    padding-top: 100px;
  }

  .main-header .navbar-custom-menu {
    width: 100%;
  }

  .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-nav:after, .navbar-nav:before {
    display: none;
  }
}